body {
    background: linear-gradient(to top, #cccccc -50px, #202020);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
	margin: 0;
}
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}
.navbar {
    border-radius: 5px;
    overflow: hidden;
    background-color:  #4d4d4d;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbar ab {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

.navbar ab:hover{
  background-color: White;
  color : Black;
}

.bar {
    border-radius: 5px;
    overflow: hidden;
    background-color: #595959;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    align-self: center;
}

.bar ab {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 17px;
}

.bar ab:hover{
  background-color: White;
  color : Black;
}

input{
  width : 25%;
  padding: 1% 0%;
}

button{
  padding: 1% 1%;
  margin: 0% 0%;
  background-color: #1a1aff;
  color : white;
  font-weight: bold;
}

.main {
    margin-left: 10%;
    display: table;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  position: relative;
}

.flex-container > div {
  width: auto;
  line-height: 100px;
  font-size: 1em;
}


.item-image{
    width: 50%;
    margin: 10px;
    padding: 5px;
    float: left;
    overflow: auto;
}
.item-description{
    text-align: left;
    margin-top: 7%;
    margin-left: 7%;
    display: inline-block;
    position: absolute;
    float: right;

}
.item-description > p {
    font-size: 1em;
    line-height: 120%;
    margin-right: 9%;
}
.seller-description {
    text-align: justify;
    border-top: 0;
    margin-top: 10%;
    display: inline;
    float: left;
    color: red;
    margin-right: 0%;
}
.seller-description > p {
    font-size: 1em;
    line-height: 80%;
}
div.gallery {
    margin: 5%;
    float: left;
    clear: right;
    width: auto;
}

div.gallery img {
  display: inline-block;
  max-width:230px;
  float: left;
  max-height:95px;
  width: auto;
  height: auto;
  margin-left: 20%;
}
.block {
    display: inline;
    width: auto;
    border: none;
    background-color: #4CAF50;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.block:hover {
    background-color: red;
    color: #FFFFFF;
    text-decoration: none;
}
.text-box{
    display: inline;
}